/* style.css */

html{
    box-sizing: border-box;
}

body {
    background-color: white;
    text-align: justify;
    font-size: 1em;
    border: 5px solid black;
    margin: 1em 4em 2em;
}

body.homepage {
    text-align: center;
}

.recipe-list {
    display: inline-block;
    list-style: none;
    margin: 1em;
    padding: 1em;
    border: 2px solid black;
}

img {
    width: 40%;
    height: auto;
}

.heading {
    background-color: beige;
    text-align: center;
}