/* style.css */
html{
    box-sizing: border-box;
}

body {
    background-color: white;
    text-align: justify;
    font-size: 1em;
    border: 5px solid black;
}

body.homepage {
    text-align: center;
    list-style-position: outside;
}

img {
    width: 100%;
    height: auto;
}

.heading {
    background-color: beige;
    text-align: center;
}